@import "tailwindcss";
@import 'konsta/react/theme.css';

@theme {
    --color-brand-primary: #007aff;
    --color-brand-red: #ff0000;
    --color-brand-yellow: #fdc700;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

